# Define the primary group of a module. This is the name of the group where a
# module sends its messages to if the target group is not explicitly given in
# the send call.
connection.primaryGroup = LOCATION

# Define a list of message groups to subscribe to. The default is usually given
# by the application and does not need to be changed.
connection.subscriptions = PICK, AMPLITUDE

# Clean-up interval for removing old/unused objects.
buffer.cleanupInterval = 3600

# Maximum travel-time RMS for a location to be reported.
autoloc.maxRMS = 3.5

# Maximum travel-time residual (unweighted) for a pick at a station to be used.
autoloc.maxResidual = 7.0

# Minimum number of phases for reporting origins.
autoloc.minPhaseCount = 6

# Maximum epicntral distance to stations for accepting picks.
autoloc.maxStationDistance = 180

# If the station count for stations at < 105 degrees distance exceeds this
# number, no picks at > 105 degrees will be used in location. They will be
# loosely associated, though.
autoloc.minStaCountIgnorePKP = 15

# If this string is non-empty, an amplitude obtained from an amplitude object
# is used by ... . If this string is "mb", a period obtained from the amplitude
# object is also used; if it has some other value, then 1 [units?] is used. If
# this string is empty, then the amplitude is set to 0.5 * thresholdXXL, and 1
# [units?] is used for the period.
autoloc.amplTypeAbs = mb

# If this string is non-empty, it is used to obtain a pick SNR from an
# amplitude object which is compared against "minPickSNR". If the parameter is
# empty, the pick SNR is 10.
autoloc.amplTypeSNR = snr

# Location of the grid file for nucleating origins.
autoloc.grid = @DATADIR@/scautoloc/grid.conf

# Location of the station configuration file for nucleating origins.
autoloc.stationConfig = @DATADIR@/scautoloc/station.conf

# Receive and process manual phase picks.
autoloc.useManualPicks = true

# Receive and process manual origins. Manual picks and arrival weights will be
# adopted from the manual origin and the processing continues with these.
# Origins produced this way by adding incoming automatic picks are nevertheless
# marked as automatic origins. But they may contain manual picks (even pP and S
# picks).
# Add the LOCATION group to connection.subscriptions for receiving manual
# origins!
# This is an experimental feature relevant only for large regional and global
# networks, where results by analysts can be expected before the end of
# automatic event processing.
autoloc.useManualOrigins = false
